version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:16-stretch
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Installing Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: "Running audit"
          command: npm audit --production
      - run:
          name: Running Mocha Tests
          command: npm test

workflows:
  version: 2

  build:
    jobs:
      - build

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - v4
    jobs:
      - build
